---
- name: Run role pre-checks
  ansible.builtin.import_tasks: prechecks.yml
  tags: ['always']

- name: Refresh package metadata
  ansible.builtin.import_tasks: package_refresh.yml

- name: Install mcphost client
  ansible.builtin.include_tasks:
    file: mcphost_install.yml
  when: mcphost_state == 'present'

- name: Remove mcphost client
  ansible.builtin.include_tasks:
    file: mcphost_cleanup.yml
  when: mcphost_state == 'absent'

- name: Install Ollama stack
  ansible.builtin.include_tasks:
    file: ollama_install.yml
  when: ollama_state == 'present'

- name: Remove Ollama stack
  ansible.builtin.include_tasks:
    file: ollama_cleanup.yml
  when: ollama_state == 'absent'
